{% extends 'base.html' %}


{% block title %}
    Добавить покупателя
{% endblock title %}


{% block content %}

    <div>
        <h1>Добавление товара покупателю</h1>
    </div>
    <div>
        <form method="post">
            <select size="10" name="buyer_name">
                {% for item in buyers %}
                    <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <select size="10" name="product_name">
                {% for item in products %}
                    <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <button type="submit">Добавить</button>
        </form>


    </div>
    <div>
        <ul>
            <li>
                <a href="/create_buyer/">Создать покупателя</a>
            </li>
            <li>
                <a href="/category_list/">Список категорий товаров</a>
            </li>
        </ul>
    </div>
{% endblock content %}
