{% extends 'base.html' %}


{% block title %}
    Список покупателей
{% endblock title %}


{% block content %}

    <div>
        <h1>Список покупателей</h1>
    </div>
    <div>
        <ul>
            {% for item in objects_list %}
                <li>
                    {{item.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="/create_buyer/">Создать покупателя</a>
            </li>
            <li>
                <a href="/add_product/">Добавить товар покупателю</a>
            </li>
        </ul>
    </div>
{% endblock content %}
