    <div class="sidebar">
      <h1>Последние новости</h1>
      <h4>Мы создали новое нечто!</h4>
      <h5>Сегодня {{date}}</h5>
      <p>Новая модель снегоката позволяет кататься втроем и вчетвером. Но подготовиться нужно заранее. Воздержитесь от еды и колы в течение недели чтобы у вас все получилось!<br /><a href="#">Read more</a></p>
      <h1>Как будем кататься?</h1>
      <ul>
        <li><a href="#">Стоя</a></li>
        <li><a href="#">Сидя</a></li>
        <li><a href="#">Как получится</a></li>
        <li><a href="#">Не катаюсь вообще</a></li>
      </ul>
      <h1>Search</h1>
      <form method="post" action="#" id="search_form">
        <p>
          <input class="search" type="text" name="search_field" value="Что ищем?....." />
          <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/images/search.png"
                 alt="Search" title="Search" />
        </p>
      </form>
    </div>
