{% extends 'base.html' %}
{% set active_page = "index" %}

{% block title %}Снежный скоробей{% endblock title %}


{% block content %}
    <h1>Добро пожаловать в наш магазин зимних развлекательных товаров!</h1>
    <p>В нашем классном магазине можно купить что угодно! Разные санки, снегокаты, лыжи и коньки.
      Можешь приходить один, а можешь взять всю свою веселую компанию и завалиться к нам!
      Ты молод и активен - насладжайся этим ведь однажды все это закончится и ты станешь
      взрослым вросшим в стул окоченелым программистом!  </p>
    <p>Если ты готов к подвигам, тогда вперед!
      <strong>Катайся из последних сил!!!</strong> поддерживай форму - у нас мало больших размеров</p>
    <h2>Катайся даже если никто не хочет кататься с тобой! Покажи как ты крут на самом деле!!!</h2>
    <p>Для того чтобы кататься, нужно всего три особенности:</p>
    <ul>
      <li>Не быть трусишкой</li>
      <li>Быть достаточно крутым</li>
      <li>Быть сильным и классным</li>
    </ul>


    <div>
      <h1>Категории товаров:</h1>
        <ul>
            {% for item in objects_list %}
                <li>{{item.name}} <span>количество товаров:
                {{item.count_products()}}</span>
                    <a href="/product_list/?id={{item.id}}">Показать товары</a>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div>
        <ul>
            <li>
                <a href="/category_list/">Список категорий товаров</a>
            </li>
            <li>
                <a href="/create_category/">Создать категорию товаров</a>
            </li>
            <li>
                <a href="/create_buyer/">Создать покупателя</a>
            </li>
            <li>
                <a href="/buyers_list/">Список покупателей</a>
            </li>
            <li>
                <a href="/add_product/">Добавить покупателя товара</a>
            </li>
        </ul>
    </div>


{% endblock %}