{% extends 'base.html' %}
{% set active_page = "index" %}

{% block title %}Снежный скоробей{% endblock title %}


{% block content %}
<h1>Добро пожаловать в наш магазин зимних развлекательных товаров!</h1>
<p>В нашем классном магазине можно купить что угодно! Разные санки, снегокаты, лыжи и коньки.
  Можешь приходить один, а можешь взять всю свою веселую компанию и завалиться к нам!
  Ты молод и активен - насладжайся этим ведь однажды все это закончится и ты станешь
  взрослым вросшим в стул окоченелым программистом!  </p>
<p>Если ты готов к подвигам, тогда вперед!
  <strong>Катайся из последних сил!!!</strong> поддерживай форму - у нас мало больших размеров</p>
<h2>Катайся даже если никто не хочет кататься с тобой! Покажи как ты крут на самом деле!!!</h2>
<p>Для того чтобы кататься, нужно всего три особенности:</p>
<ul>
  <li>Не быть трусишкой</li>
  <li>Быть достаточно крутым</li>
  <li>Быть сильным и классным</li>
</ul>
{% endblock %}