{% extends "base.html" %}

{% block title %}
    Список товаров
{% endblock %}

{% block content %}
    <div>
        <a href="/create_product/?id={{id}}">Создать новый товар</a>
        <br>
        <h1>Список товаров категории "{{name}}"</h1>
        <ul>
            {% for item in objects_list %}
            <li>
                {{item.name}} <span><a href="/copy_product/?name={{item.name}}">скопировать</a></span>
            </li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <a href="/">К списку категорий</a>
    </div>
{% endblock content %}