{% extends "base.html" %}

{% block title %}
    Список товаров
{% endblock %}

{% block content %}
    <div>
        <h1>Список товаров категории "{{category_name}}"</h1>
        <ul>
            {% for item in objects_list %}
                <li>
                    {{item.name}} <span><a href="/copy_product/?id={{item.id}}&name={{item.name}}">скопировать</a></span>
                </li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <a href="/category_list/">К списку категорий</a>
    </div>
{% endblock content %}